<p>We collect information that you submit to us via the forms on this website.</p>

<h2>Terms of Use</h2>

<p>By accessing this site, you are agreeing to these terms of service. The materials and content contained in this web site are protected by applicable copyright and trade mark law.</p>

<h2>Disclaimer</h2>
<p>The information on this website are for informational purposes only and are not to be construed as legal, tax or any other type of advice.</p>

<p>Royal Investment Properties makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Royal Investment Properties also does not warrant or make any representations regarding the accuracy, likely results, or reliability of the use of the information and materials on its web site or otherwise relating to such information or on any sites linked to or from this site.</p>

<h2>Anonymous Usage Data</h2>
<p>Google Analytics is a web analysis service provided by Google. Google utilizes the data collected to track and examine the use of our website, to prepare reports on its activities and share them with other Google services. This is used so that we can determine which pages you as the visitor feel are important. Google may use the data collected to contextualize and personalize the ads of its own advertising network. Personal data collected: Cookie and Usage Data. Place of processing: USA. Find Google's privacy policy here.</p>

<h2>Governing Law</h2>
<p>Any claim relating to Royal Investment Properties’s web site shall be governed by the laws of the State of Missouri without regard to its conflict of law provisions. General Terms and Conditions applicable to use of a web site.<p>

<h2>What we do with the information you submit</h2>
<p>We use the information you submit to help determine whether the property you want to sell fits our investment criteria. The information is used to help us calculate an offer to buy if it fits our investment criteria. If, in the event we do not buy the property right away, we may contact you periodically to follow up and see if you've sold the property.</p>

<p>We will not disclose personally identifiable information that you provide on this website to any third parties, except: to comply with valid legal requirements such as law, regulation warrant, subpoena or court order, or if we are passing your information along to other land investors that may be able to make you an offer.</p>

<h2>What we DO NOT do with the information you submit</h2>
<strong>We DO NOT sell, rent or otherwise make your personal information available to outside sources without your permission, unless we are doing so as an attempt to satisfy a request made by you.</strong> <p>For example, if you have a property for sale within an area that we do not server, or a property which does not meet our purchase guidelines, we may provide your contact information to another investor who may be able to make an offer to buy your property.<p>

<p>If you have any questions, feel free to <a href="#">contact us.</a></p>
