
<!-- Main navigation -->
<header class="h-100">
  
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav pull-xs-right" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" routerLink="/">
          <strong>Real Investment Properties - Logo Here</strong>
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/process">Process</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/offer-form">Offer Form</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/faq">FAQ</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/about-us">About Us</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/contact-us">Contact Us</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
  
</header>





  <!--Main Navigation-->

  <!--Main Layout-->
  <!-- <main class="text-center py-5"> -->

    <!-- <div class="container"> -->
      <!-- <div class="row"> -->
        <!-- <div class="col-md-12"> -->
<!-- 
          <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->

  <!-- </main> -->
  <!--Main Layout-->


<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/process">Process</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div><a routerLink="/">Royal-Logo</a></div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/process">Process</a></li>
          <li><a routerLink="/offer-form">Offer</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/contact-us">Contact Us</a></li>
        </ul>
      </div>
    </mat-toolbar> -->
    <!-- <main> -->
      <!-- <router-outlet></router-outlet> -->
    <!-- </main> -->
   <!-- </mat-sidenav-content>
</mat-sidenav-container>  -->
<!-- <button mat-raised-button color="accent">Click Me</button> -->

