<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">Process</a>
      <a mat-list-item href="#">Offer Form</a>
      <a mat-list-item href="#">FAQ</a>
      <a mat-list-item href="#">About Us</a>
      <a mat-list-item href="#">Contact Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>RoyalInvestmentProperties</span>
      <span class="spacer"></span>
      <div class="navigation">
        <a class="top-main-nav" href="#">Home</a>
        <a class="top-main-nav" href="#">Process</a>
        <a class="top-main-nav" href="#">Offer Form</a>
        <a class="top-main-nav" href="#">FAQ</a>
        <a class="top-main-nav" href="#">About Us</a>
        <a class="top-main-nav" href="#">Contact Us</a>
      </div>
    </mat-toolbar>
 
 
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- 
<button md-fab [md-menu-trigger-for]="settings">
  <md-icon>settings</md-icon>
</button>

<md-menu class="menu-overflow-hidden" x-position="before" #settings="mdMenu">
  <div style="display: flex; flex-direction: row; text-align: center">
    <div style="flex: 1; padding: 24px">
      <label>Left Side</label>
      <button md-menu-item routerLink=""> Option 1 </button>
      <button md-menu-item routerLink=""> Option 2 </button>
    </div>
    <div style="flex: 1; padding: 24px">
      <label>Right Side</label>
      <button md-menu-item routerLink=""> Option 3 </button>
      <button md-menu-item routerLink=""> Sign Out </button>
    </div>
  </div>
</md-menu>  -->



