<!--Projects section v.4-->
<section class="text-center pb-5 ">

  <!--Section heading-->
  <!-- <h2 class="font-weight-bold h1 py-5">
    <strong>Our best projects</strong>
  </h2> -->
  

  <!--Grid row-->
  <div class="row py-5">

    <div class="col-md-6 mb-4">
      <mdb-card imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg)'">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <!-- <h6 class="pink-text">
              <mdb-icon fas icon="chart-pie"></mdb-icon>
              <strong> Marketing</strong>
            </h6> -->
            <h3 class="py-3 font-weight-bold">
              <strong>Sell Your Land Today
Quickly and Easily</strong>
            </h3>
            <p class="pb-3">Selling your property to Royal Investment Properties saves you the time it takes to market and sell your land. Banks typically require 50% down and have higher interest rates on raw land which decreases the amount of buyers through traditional methods. Real estate agents take a commission and usually that amount is not enough to warrant their time in showing the property especially the more rural and remote the land is. We can cut that time down buying site unseen and making a decision on purchasing the property within days.

To get started, simply fill out the form or scroll down to find out more about how we buy land.

For fastest service, call me now
            </p>
            <a mdbBtn color="pink" size="md" rounded="true" class="waves-light" mdbWavesEffect href="tel://913-278-0114">
              <mdb-icon far icon="clone" class="left"></mdb-icon> 913-278-0114</a>
          </div>
        </div>
      </mdb-card>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">
      <mdb-card imageBackground="url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg')">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <!-- <h6 class="green-text">
              <mdb-icon far icon="eye"></mdb-icon>
              <strong> Entertainment</strong>
            </h6> -->
            <h3 class="py-3 font-weight-bold">
              <strong>Fill out the Form to Get Started</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!
            </p>
            <a mdbBtn color="success" size="md" rounded="true" class="waves-light" mdbWavesEffect href="tel://913-278-0114">
              <mdb-icon far icon="clone" class="left"></mdb-icon> 913-278-0114</a>
          </div>
        </div>
      </mdb-card>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Projects section v.4-->

<!--Section: Features v.1-->
<section class="text-center">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">WHY US?</h2>
  <!--Section description-->
  <!-- <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam.</p> -->

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-6">
      <mdb-icon fas icon="chart-area" size="3x" class="red-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">No Fees</h5>
      <p class="black-text h4">We don't charge any fees for our service. We simply just want to buy your land.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6">
      <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">We Pay Cash</h5>
      <p class="black-text h4">Paying cash is important. This allows us to skip the hoops banks make buyers go through. This is how we keep things simple.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6">
      <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Close Fast</h5>
      <p class="black-text h4">Paying cash allows us to close super fast. If you want to close within a week, that's usually possible. If you need some time, no problem!
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6">
      <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">No Commission!</h5>
      <p class="black-text h4">Unlike real estate agents, we do not have commissions. We pay you for your property. It is that easy!
      </p>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
<div class="clearfix"></div>
<br>
</section>


<section class="text-center">
<br>
  <h2 class="h1 py-2 font-weight-bold">HOW IT WORKS</h2>
<div class="text-left">
  <p class="black-text mt-3">
  <strong class="h4">We pay cash for your rural real estate, and make the process as simple as possible.</strong> <br>
<strong class="h4">- We will agree on a cash price for your property</strong><br>
<strong class="h4">- We send a notary to your home, office, or preferred location near you with the final documentation for your signature and a Cashier’s check (as good as cash) in the amount of the price we have agreed upon
</strong><br>
<strong class="h4">Once the final documentation has been signed, the notary will provide you with the Cashier’s Check
</strong><br>
<strong class="h4">You cash the Cashier’s Check</strong><br>
<strong class="h4">We save land owners money by handling all of the document preparation and county filing it takes to transfer ownership.
</strong><br>



  </p>
  <p class="black-text mt-3">
<strong class="h4">In some of cases, we will purchase the property through escrow and obtain title insurance. If this is the situation, the process is the same but may take a few weeks longer. Please email us with any questions you may have regarding the transaction process.
    </strong><br>
  </p>
      </div>
</section>